.error-msg {
    font-family: ClanPro-Book;
    color: red;
    font-size: 10px;
    line-height: 14px;
    padding: 0px;
    margin: 0px 0 10px;
    transition: 0.28s;
    overflow: hidden;
    margin-top: 4px;
}