/* You can add global styles to this file, and also import other style files */
body {
    max-width: 1080px;
    margin: 0 auto;
}

.has-error {
    border: 1px solid red !important;
    background-color: #ffedef !important;
}

.disabled {
    pointer-events: none;
    cursor: no-drop !important;
    background-color: #e6e7e8 !important;
    cursor: unset;

    &:hover {
        background-color: #e6e7e8 !important;
        border-color: #e6e7e8 !important;
        cursor: unset !important;
    }
}

button[disabled],
select[disabled],
input[disabled] {
    pointer-events: none;
    cursor: no-drop !important;
    background-color: #e6e7e8 !important;
    cursor: unset;
}